.producto {
  width: 45%;
}

.filtroActivo {
  background-color: white;
  color: red;
}

#contenedorProductos img {
  width: 70%;
  height: auto;
}

@media (min-width: 992px) {
  .producto {
    width: 22%;
  }
}
